/* !!!!!!!!!!!!!!!!!!! Paramètres généraux !!!!!!!!!!!!!!!!!! */

*{
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: white !important;
    text-transform: uppercase;
}
h2{
    color: white !important;
    text-transform: uppercase;
    font-size: 16px !important;
}
hr{
    width: 130px;
    border: 1px solid !important;
    border-radius: 5px;
    opacity: 0.9 !important;
}
p{
    color: white;
}
/* all buttons without burger menu */
.btn__without-burger-menu{
    color: white !important;
    text-transform: uppercase !important;
    background-color: #3D848D !important;
    border: none !important;
    padding: 7px 20px !important;
    font-weight: bolder;
}
i{
    color: white;
}


/* !!!!!!!!!!!!!!!!!!! header !!!!!!!!!!!!!!!!!! */
/* background image */
header{
    background-image: url("../img/landscapes/landscape1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/* navbar */
.navbar{
    background-color: rgba(0, 0, 0, 0) !important;
}
.navbar a{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.navbar-toggler{
    border: 2px solid white !important;
}
/* custom bg to display when clicking on the burger menu */
.navbar-collapse--active{ /* to get the class in JS */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    /* height: 300px !important; */
}
.navbar-collapse--active ul{
    top: 0vh;
}
/* to align items in the middle */
#container-size__header-elements{
    height: 80%;
}
/* hr */
#hr__header{
    color: #3D848D !important;
}


/* !!!!!!!!!!!!!!!!!! body !!!!!!!!!!!!!!!!!! */

/* ! biography */

#biography-picture{
    height: 500px;
    border-radius: 20px;
    max-width: 100%;
    object-fit: cover;
}
#biography h1, hr{
    color: #F6A844 !important;
}
#hr__biography{
    width: 100px;
}
#biography button{
    color: white;
    background-color: #F6A844 !important;
}
#biography p{
    color: black;
}

/* ! portraits */
#portraits{
    background-color: #3D848D;
}
#hr__portraits{
    width: 80px;
    color: white !important;
}
.displaygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 300px 300px 300px 300px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
#img1{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
#img2{
    grid-column-start: 3;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img3{
    grid-column-start: 7;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img4{
    grid-column-start: 3;
    grid-column-end: span 6;
    grid-row-start: 2;
    grid-row-end: span 1;
}
#img5{
    grid-column-start: 9;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}
#img6{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img7{
    grid-column-start: 4;
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img8{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: span 1;
}
#img9{
    grid-column-start: 6;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: span 1;
}
.portraitsnpaysages-img-size{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 8px;
}
/* media querie to make the grid responsive */
@media (max-width: 992px) {
    .displaygrid{
        /* to stack photos one below others (without specific positions) */
        grid-template-columns: 1fr; 
        grid-template-rows: auto; /* to reset automatic lines */
    }
    #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
        /* input auto values to reset columns and rows position : that's why in mobile these images haven't specific position. */
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    /* so, images are reorganize in mobile display with auto values to reset them columns and rows positions */
    }
}

/* ! landscape */

#landscape h1{
    color: #F6A844 !important;
}
#hr__paysages{
    width: 80px;
}
.displaygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
#img1{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img2{
    grid-column-start: 4;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img3{
    grid-column-start: 9;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
#img4{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}
#img5{
    grid-column-start: 3;
    grid-column-end: span 6;
    grid-row-start: 2;
    grid-row-end: span 1;
}
#img6{
    grid-column-start: 3;
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img7{
    grid-column-start: 8;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img8{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: span 1;
}
#img9{
    grid-column-start: 6;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: span 1;
}
/* media querie to make the grid responsive */
@media (max-width: 992px) {
    .displaygrid{
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
    }
    #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
}

/* ! form */
/* form on mobile */
#form{
    background-color: #3D848D;
    min-height: 100vh;
}
#form__elements{
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 740px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#bg-form-img{
    background-image: url(../img/photographer2.jpg);
    height: calc(740px / 2);
    background-position: center;
    background-size: cover;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#bg-form-img__filigram{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#form-elements{
    height: 100%;
    width: 100%;
}
#hr__place-form{
    width: 100%;
}
#hr__form{
    color: #3D848D !important;
    width: 80px;
}
#h2__form{
    text-transform: none;
}
#form__profile-picture{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid white;
}
#little-img__form{
    width: 100%;
}
/* form on desktop */
#form__elements--desktop{
    background-color: white;
    /* height: 640px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#bg-form-img--desktop{
    background-image: url(../img/photographer2.jpg);
    height: 640px;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#bg-form-img__filigram--desktop{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#form--desktop{
    height: 580px;
    width: 100%;
}
#place-form-elements--desktop{
    width: 100%;
}
#message-desktop{
    height: 200px;
}
label{
    font-weight: bolder;
}


/* !!!!!!!!!!!!!!!!!! footer !!!!!!!!!!!!!!!!!! */
footer{
    height: 35vh;
}
footer ul{
    list-style: none;
    position: relative;
    top: 10vh;
    font-weight: bolder;
}
footer ul li a{
    text-decoration: none;
    color: black;
}
.li-mobile{
    width: 100%;
}
.footer-logos{
    color: #F6A844;
    position: relative;
    top: 10vh;
}
.place-footer-logos__desktop{
    width: 100%;
}
.place-footer-logos__mobile{
    position: relative;
    bottom: 11vh;
}
footer p{
    color: #505056;
    position: relative;
    top: 15vh !important;
    font-size: 11px;
}