/* ! Paramètres généraux */

*{
    font-family: 'Open Sans', sans-serif;
}
/* modify the bg color of bootstrap's elements to transparent */
.bg-custom{
    background-color: rgba(0, 0, 0, 0);
}




/* ! header */
/* header */

header{
    background-image: url("../img/landscapes/landscape1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    background-color: rgba(0, 0, 0, 0) !important;
}
.navbar a{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.navbar-toggler{
    border: 2px solid white !important;
}


/* ! body */
/* biography */

#biography{
    background-color: lightgreen;
    height: 100vh;
}

/* portraits */

#portraits{
    background-color: lightcyan;
}

/* landscape */

#landscape{
    background-color: lightsalmon;

}

/* form */
#form{
    background-color: lightblue;
    height: 100vh;
}
#form__elements{
    background-color: white;
}